# Project 1: America from 30,000 ft. - EDA

T100D Data from here:

https://www.transtats.bts.gov/tables.asp?db_id=110&DB_Name=

T-100 Domestic Segment (U.S. Carriers)	This table contains domestic non-stop segment data reported by U.S. air carriers, including carrier, origin, destination, aircraft type and service class for transported passengers, freight and mail, available capacity, scheduled departures, departures performed, aircraft hours, and load factor when both origin and destination airports are located within the boundaries of the United States and its territories.

All fields selected, individual files downloaded for each full year from 1990-2016.

In [4]:
# Initial data load, summary, and high level sanity checks

# Import a bunch of libraries.
import glob
import time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator
import pandas as pd


path =r'C:\Users\mfraz\Desktop\Berkeley MIDS\MIDS\W209\Project\data\T100D' # use your path
allFiles = glob.glob(path + "\*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

C:\Users\mfraz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(frame.shape)

(5379253, 46)

In [6]:
frame.head

<bound method NDFrame.head of         DEPARTURES_SCHEDULED  DEPARTURES_PERFORMED    PAYLOAD   SEATS  \
0                        0.0                   1.0    12000.0    50.0
1                        0.0                   2.0    49500.0   200.0
2                        0.0                   5.0   186000.0   745.0
3                        0.0                   1.0    12500.0    50.0
4                        0.0                   1.0      950.0     4.0
5                        0.0                   2.0     3200.0    18.0
6                        0.0                   1.0     3000.0     9.0
7                        0.0                   1.0     2314.0     9.0
8                        0.0                   1.0     3000.0     9.0
9                        0.0                   1.0     2700.0     9.0
10                       0.0                   2.0     3200.0    18.0
11                       0.0                   1.0     3014.0     9.0
12                       0.0                   1.0     2606.0     9.0
13                       0.0                   1.0     3095.0     9.0
14                       0.0                   1.0     3000.0     9.0
15                       0.0                   1.0     2314.0     9.0
16                       0.0                   1.0     2314.0     9.0
17                       0.0                   1.0     3095.0     9.0
18                       0.0                   1.0     3014.0     9.0
19                       0.0                   1.0     2314.0     9.0
20                       0.0                   1.0     3014.0     9.0
21                       0.0                   1.0     3014.0     9.0
22                       0.0                   1.0     3014.0     9.0
23                       0.0                   1.0     1600.0     9.0
24                       0.0                   3.0     2850.0    12.0
25                       0.0                   5.0    13500.0    45.0
26                       0.0                   1.0     1600.0     9.0
27                       0.0                   3.0     3000.0    15.0
28                       0.0                   2.0     3200.0    18.0
29                       0.0                   1.0     3014.0     9.0
...                      ...                   ...        ...     ...
379249                 884.0                 442.0   795600.0  3978.0
379250                 892.0                 446.0   802800.0  4014.0
379251                 946.0                 473.0   851400.0  4257.0
379252                 946.0                 473.0   851400.0  4257.0
379253                 956.0                 478.0   860400.0  4302.0
379254                 958.0                 479.0   862200.0  4311.0
379255                 966.0                 483.0   869400.0  4347.0
379256                 968.0                 484.0   871200.0  4356.0
379257                1004.0                 502.0   903600.0  4518.0
379258                1008.0                 504.0   907200.0  4536.0
379259                1272.0                 636.0  1144800.0  5724.0
379260                1282.0                 641.0  1153800.0  5769.0
379261                1408.0                 704.0  1267200.0  6336.0
379262                1424.0                 712.0  1281600.0  6408.0
379263                1456.0                 728.0  1310400.0  6552.0
379264                1464.0                 732.0  1317600.0  6588.0
379265                1764.0                 505.0   606000.0  2796.0
379266                1809.0                 494.0   592800.0  2730.0
379267                1836.0                 520.0   624000.0  2865.0
379268                1960.0                 540.0   648000.0  3006.0
379269                1979.0                 556.0   667200.0  3104.0
379270                2000.0                 579.0   694800.0  3185.0
379271                2080.0                 589.0   706800.0  3286.0
379272                2099.0                 600.0   720000.0  3359.0
379273                2141.0                 609.0   730800.0  3374.0
379274                2170.0                 609.0   730800.0  3385.0
379275                2181.0                 591.0   709200.0  3289.0
379276                2300.0                 634.0   760800.0  3507.0
379277                2318.0                 639.0   766800.0  3520.0
379278                2361.0                 631.0   757200.0  3468.0

        PASSENGERS  FREIGHT    MAIL  DISTANCE  RAMP_TO_RAMP  AIR_TIME  \
0             41.0      0.0     0.0     308.0          77.0      59.0
1             61.0      0.0  3889.0      77.0          73.0      37.0
2            163.0      0.0     0.0     291.0         620.0     282.0
3             42.0      0.0     0.0     572.0         195.0     121.0
4              0.0      0.0     0.0     323.0         119.0     115.0
5             10.0      2.0    37.0      70.0         122.0     114.0
6              2.0      3.0    42.0      70.0          22.0      21.0
7              5.0      0.0    35.0      70.0          28.0      27.0
8              0.0      1.0     0.0      70.0          22.0      21.0
9              5.0      0.0     0.0     184.0          66.0      62.0
10             7.0     55.0   565.0      29.0          27.0      19.0
11             1.0      0.0    79.0      29.0          11.0      10.0
12             4.0      5.0   144.0      29.0          13.0      12.0
13             9.0      0.0     3.0      29.0          11.0      10.0
14             7.0      2.0     4.0      29.0          11.0      10.0
15             1.0      2.0   251.0      29.0          13.0      12.0
16             1.0     20.0   120.0      29.0          13.0      12.0
17             2.0    120.0   254.0      29.0          11.0      10.0
18             6.0     73.0   377.0      29.0          11.0      10.0
19             5.0      0.0   111.0      29.0          13.0      12.0
20             7.0      0.0    79.0      29.0          11.0      10.0
21             1.0     11.0    93.0      29.0          11.0      10.0
22             5.0     16.0     0.0      29.0          11.0      10.0
23             3.0      4.0     4.0      88.0          30.0      26.0
24             0.0      0.0     0.0     130.0         160.0     148.0
25            15.0    276.0    50.0     130.0         248.0     228.0
26             0.0      0.0     0.0     130.0          48.0      44.0
27             0.0      0.0     9.0     130.0         184.0     166.0
28            10.0      2.0    36.0     130.0          98.0      90.0
29             2.0      5.0    23.0     130.0          37.0      35.0
...            ...      ...     ...       ...           ...       ...
379249      2751.0      0.0     0.0      70.0       17768.0   14321.0
379250      2837.0      0.0     0.0      70.0       15521.0   12577.0
379251      2424.0      0.0     0.0      31.0        9365.0    7379.0
379252      3307.0      0.0     0.0      70.0       19015.0   15325.0
379253      2391.0      0.0     0.0      31.0        9464.0    7457.0
379254      2378.0      0.0     0.0      31.0        9484.0    7472.0
379255      3236.0      0.0     0.0      70.0       16808.0   13621.0
379256      2419.0      0.0     0.0      31.0        9583.0    7550.0
379257      2846.0      0.0     0.0      91.0       23494.0   18373.0
379258      3122.0      0.0     0.0      91.0       23587.0   18446.0
379259      3957.0      0.0     0.0      91.0       29765.0   23278.0
379260      4006.0      0.0     0.0      91.0       29999.0   23461.0
379261      4286.0      0.0     0.0      91.0       32947.0   25766.0
379262      4386.0      0.0     0.0      91.0       33322.0   26059.0
379263      4526.0      0.0     0.0      91.0       34070.0   26645.0
379264      4930.0      0.0     0.0      91.0       34258.0   26791.0
379265      1764.0   8197.0     0.0      11.0        6851.0    5336.0
379266      1809.0  13067.0     0.0      11.0        7390.0    5908.0
379267      1836.0   1937.0     0.0      11.0        6887.0    5327.0
379268      1960.0   6723.0     0.0      11.0        7371.0    5751.0
379269      1979.0  16650.0     0.0      11.0        7873.0    6205.0
379270      2000.0   5265.0     0.0      11.0        7845.0    6108.0
379271      2080.0   3217.0     0.0      11.0        8035.0    6268.0
379272      2099.0   3267.0     0.0      11.0        8288.0    6488.0
379273      2141.0   8876.0     0.0      11.0        8151.0    6324.0
379274      2170.0   1833.0     0.0      11.0        8113.0    6286.0
379275      2181.0   4680.0     0.0      11.0        7825.0    6052.0
379276      2300.0   5177.0     0.0      11.0        8250.0    6348.0
379277      2318.0   4838.0     0.0      11.0        9103.0    7186.0
379278      2361.0   9240.0     0.0      11.0        8293.0    6400.0

           ...      DEST_WAC  AIRCRAFT_GROUP AIRCRAFT_TYPE AIRCRAFT_CONFIG  \
0          ...            74               6           675               1
1          ...            23               6           640               1
2          ...            14               7           715               1
3          ...            54               6           629               1
4          ...             1               0            79               1
5          ...             1               1           194               1
6          ...             1               4           417               1
7          ...             1               4           416               1
8          ...             1               4           417               1
9          ...             1               4           416               1
10         ...             1               1           194               1
11         ...             1               4           417               1
12         ...             1               4           416               1
13         ...             1               4           417               1
14         ...             1               4           417               1
15         ...             1               4           416               1
16         ...             1               4           416               1
17         ...             1               4           417               1
18         ...             1               4           417               1
19         ...             1               4           416               1
20         ...             1               4           417               1
21         ...             1               4           417               1
22         ...             1               4           417               1
23         ...             1               1           194               1
24         ...             1               0            79               1
25         ...             1               4           416               1
26         ...             1               1           194               1
27         ...             1               0            35               1
28         ...             1               1           194               1
29         ...             1               4           417               1
...        ...           ...             ...           ...             ...
379249     ...            13               1           125               1
379250     ...            13               1           125               1
379251     ...            13               1           125               1
379252     ...            13               1           125               1
379253     ...            13               1           125               1
379254     ...            13               1           125               1
379255     ...            13               1           125               1
379256     ...            13               1           125               1
379257     ...            13               1           125               1
379258     ...            13               1           125               1
379259     ...            13               1           125               1
379260     ...            13               1           125               1
379261     ...            13               1           125               1
379262     ...            13               1           125               1
379263     ...            13               1           125               1
379264     ...            13               1           125               1
379265     ...             5               0            79               1
379266     ...             5               0            79               1
379267     ...             5               0            79               1
379268     ...             5               0            79               1
379269     ...             5               0            79               1
379270     ...             5               0            79               1
379271     ...             5               0            79               1
379272     ...             5               0            79               1
379273     ...             5               0            79               1
379274     ...             5               0            79               1
379275     ...             5               0            79               1
379276     ...             5               0            79               1
379277     ...             5               0            79               1
379278     ...             5               0            79               1

        YEAR QUARTER MONTH  DISTANCE_GROUP  CLASS  Unnamed: 45
0       2002       4    12               1      F          NaN
1       2002       1     1               1      F          NaN
2       2002       1     1               1      F          NaN
3       2002       1     1               2      F          NaN
4       2002       1     1               1      F          NaN
5       2002       1     1               1      F          NaN
6       2002       1     1               1      F          NaN
7       2002       1     1               1      F          NaN
8       2002       1     1               1      F          NaN
9       2002       1     1               1      L          NaN
10      2002       1     1               1      F          NaN
11      2002       1     1               1      F          NaN
12      2002       1     1               1      F          NaN
13      2002       1     1               1      F          NaN
14      2002       1     1               1      F          NaN
15      2002       1     1               1      F          NaN
16      2002       1     1               1      F          NaN
17      2002       1     1               1      F          NaN
18      2002       1     1               1      F          NaN
19      2002       1     1               1      F          NaN
20      2002       1     1               1      F          NaN
21      2002       1     1               1      F          NaN
22      2002       1     1               1      F          NaN
23      2002       1     1               1      F          NaN
24      2002       1     1               1      F          NaN
25      2002       1     1               1      F          NaN
26      2002       1     1               1      L          NaN
27      2002       1     1               1      F          NaN
28      2002       1     1               1      F          NaN
29      2002       1     1               1      F          NaN
...      ...     ...   ...             ...    ...          ...
379249  2016       3     7               1      F          NaN
379250  2016       3     7               1      F          NaN
379251  2016       3     8               1      F          NaN
379252  2016       3     8               1      F          NaN
379253  2016       3     8               1      F          NaN
379254  2016       3     7               1      F          NaN
379255  2016       3     8               1      F          NaN
379256  2016       3     7               1      F          NaN
379257  2016       2     6               1      F          NaN
379258  2016       2     6               1      F          NaN
379259  2016       3     9               1      F          NaN
379260  2016       3     9               1      F          NaN
379261  2016       3     7               1      F          NaN
379262  2016       3     7               1      F          NaN
379263  2016       3     8               1      F          NaN
379264  2016       3     8               1      F          NaN
379265  2016       3     8               1      F          NaN
379266  2016       3     8               1      F          NaN
379267  2016       2     4               1      F          NaN
379268  2016       3     9               1      F          NaN
379269  2016       3     9               1      F          NaN
379270  2016       2     4               1      F          NaN
379271  2016       2     6               1      F          NaN
379272  2016       2     5               1      F          NaN
379273  2016       1     3               1      F          NaN
379274  2016       2     5               1      F          NaN
379275  2016       2     6               1      F          NaN
379276  2016       1     3               1      F          NaN
379277  2016       3     7               1      F          NaN
379278  2016       3     7               1      F          NaN

[5379253 rows x 46 columns]>

In [7]:
frame["YEAR"].count()

5379253

In [8]:
frame_by_year = frame.groupby(['YEAR'])
frame_by_year["DEPARTURES_PERFORMED","SEATS"].agg([np.sum])

     DEPARTURES_PERFORMED        SEATS
                      sum          sum
YEAR
2002            8466533.0  859002067.0
2003           10224278.0  878644726.0
2004           10727293.0  923039053.0
2005           10787052.0  931859621.0
2006           10432651.0  903805265.0
2007           10549425.0  923633655.0
2008           10035339.0  892402913.0
2009            9348944.0  835510492.0
2010            9293117.0  829168354.0
2011            9248817.0  833804035.0
2012            9035103.0  825373594.0
2013            8900575.0  827330766.0
2014            8709318.0  828753935.0
2015            8665933.0  858423908.0
2016            8805992.0  896147441.0